<footer class="page-footer font-small bg-warning pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white ">Me encontre nas redes sociais!</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">

                    <li>
                        <a href="https://www.facebook.com" target="_blank" class="icoFacebook">
                            <i class="fa-brands fa-square-facebook fa-2xl"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://instagram.com" target="_blank" class="icoInsta">
                            <i class="fa-brands fa-square-instagram fa-2xl"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://youtube.com" target="_blank" class="icoYT">
                            <i class="fa-brands fa-youtube fa-2xl"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
<div class="footer-copright bg-dark text-center py-3">
    <span class="text-light">Todos os direitos reservados : ElisCavalcante ©  </span>
    <br>
    <a class="text-light" target="_blank" href="https://github.com/ElisCavalcante/meuBlogPessoal-frontend.git">https://github.com/ElisCavalcante/meuBlogPessoal-frontend.git</a>

</div>
</footer>