<div class="container-fluid">

    <div class="row">

        <div class="col-md-6" id='img-bg'></div>

        <div class="col-md-6 mt-5 mb-5">

            <div class="row d-flex justify-content-center">
                <div class="col-md-10">

                    <h1 class="text-center">Cadastro</h1>

                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input [(ngModel)]="user.nome" class="form-control" type="text" name="nome" id="nome"
                            placeholder="Qual é seu nome?">
                    </div>

                    <div class="form-group">
                        <label for="usuario">Usuário</label>
                        <input [(ngModel)]="user.usuario" class="form-control" type="text" name="usuario"
                            id="usuario" placeholder="Qual seu usuário?">
                    </div>
                    <div class="form-group">
                        <label for="foto">Link da foto</label>
                        <input [(ngModel)]="user.foto" class="form-control" type="text" name="foto" id="foto"
                            placeholder="Coloque aqui a sua foto!">
                    </div>

                    <div class="form-group">
                        <label for="usuario">Senha</label>
                        <input (input)="confirmSenha($event)" class="form-control" type="password" name="senha"
                            id="senha" placeholder="Qual a sua senha?">
                    </div>
                    <div class="form-group">
                        <label for="confirmaSenha">Confirmar Senha</label>
                        <input [(ngModel)]="user.senha" class="form-control" type="password" name="confirmaSenha"
                            id="confirmaSenha" placeholder="Confere se tá igual!">
                    </div>

                    <div class="form-group">
                        <label for="tipo">Que tipo de usuário é você?</label>
                        <select class="form-control" name="tipo" id="tipo" (change)="tipoUser($event)">
                            <option>Selecione um tipo de usuário:</option>
                            <option value="comum">Usuário comum</option>
                            <option value="adm">Usuário Administrador</option>
                        </select>
                    </div>
                    <div class=" class-flex justify-content-center ">
                        <button type="submit" class="btn btn-outline-danger mr-4" routerLink="/entrar">Cancelar</button>

                        <button type="submit" class="btn btn-outline-info" 
                        (click)="cadastrar()">Cadastrar</button>
                    </div>

                </div>

            </div>


        </div>
    </div>
</div>